#product-name{
    font-size: 30px;
    font-weight: bolder;
}
#shop-made{
    font-size: 22px;
    color: #f147f7;
    font-style: italic;
    font-weight: bolder;
}
#category{
    font-size: 19px;
    font-weight: 400;
}
#product-description{
    font-size: 18px;
    font-weight: bold;
}
#quantity{
    font-size: 20px;
}
#product-rating{
    font-size: 24px;
    font-weight: bold;
}
#user{
    font-size: 19px;
}
#review_section{
    margin: 10px;
    padding: 10px;
    background-color: #f147f7;
}
.star-rating {
    font-size: 20px;
    color: gold;
}