{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
  <div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3  mb-3 animated slideInDown">Dashboard</h1>
        <h5 class=" mb-3 animated slideInDown">ตรวจสอบออเดอร์ / การขอคืนเงิน</h5>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="" href="">Home</a></li>
                <li class="breadcrumb-item  active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
    </div>
  </div>
{% endblock%}