{% extends 'base.html' %}
{% load static %}
{% block title %} Edit Product {% endblock %}
{% block content %}
<div class="container">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <a href="{% url 'ProductsAdmin' %}"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
            </div>
            <div class="modal-body">
                <form id="edit-products-form" class="p-2" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="display-block">
                        <center>
                            {% if product.product_image %}
                                <img class="img-fluid" src="{{ product.product_image.url }}" style="width: 50%;">
                            {% else %}
                                <img class="img-fluid" src="{% static 'MadeChuu/images/default.png' %}" style="width: 50%;">
                            {% endif %}
                            <br><label>Product Image</label>
                        </center>
                    </div>
                    <input type="hidden" name="product_id" id="product_id" value="{{ product.product_id }}">
                    
                    <div class="mb-3">
                        <label for="product_name">Product Name</label>
                        <input type="text" name="product_name" class="form-control" id="product_name" value="{{ form.product_name.value }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="category">Category</label>
                        <select class="form-select" name="category" id="category" required>
                            {% for category in form.category.field.queryset %}
                                <option value="{{ category.category_id }}" {% if category.category_id == form.category.value %}selected{% endif %}>{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="price">Price</label>
                        <input type="text" name="price" class="form-control" id="price" value="{{ form.price.value }}" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="quantity">Stock Quantity</label>
                        <input type="number" name="quantity" class="form-control" id="quantity" value="{{ form.quantity.value }}" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="product_image" class="form-label">Add new Image</label>
                        <center>
                        <input class="form-control image-input" type="file" name="product_image"  accept="image/*">
                        <img class="preview-img mt-3" style="width: 50%;">
                        </center>
                    </div>
                    
                    <div class="mb-3">
                        <input type="submit" value="Edit Product" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        document.querySelectorAll('.image-input').forEach(input => {
            input.addEventListener('change', function (event) {
                let reader = new FileReader();
                let preview = this.nextElementSibling;
                reader.onload = function () {
                    preview.src = reader.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(event.target.files[0]);
            });
        });
</script>
{% endblock %}