{% extends 'base.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}
  <!-- Page Header Start -->
  <div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 mb-3 animated slideInDown">Products</h1>
        <h5 class="mb-3 animated slideInDown">มีสินค้าใหม่ใช่ไหม ลงขายเลย</h5>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="" href="">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>
        </div>
    </div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-start">
            <h1 class="display-6 mb-3">Products</h1>
        </div>
        <div class="checkProduct mb-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label Checkthings" for="flexCheckDefault">
                    Flower
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label Checkthings" for="flexCheckChecked">
                    Accessorie
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label Checkthings" for="flexCheckDefault">
                    Keychain
                </label>
            </div>
        </div>
        
        
        <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative rounded-3">
                            <img class="img-fluid" src="img/flower/page-1/product-6.png" >
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">123456 : Product_1</h5>
                            <small>Flower</small><br>
                            <small>199 ฿</small><br>
                            <small>in Stock : 10</small>
                            
                            <br><br>
                            <div class="button-edit-delete">
                                <button class='btn btn-warning btn-radius10' type='button' data-bs-toggle="modal" data-bs-target="#editProductModal"> 
                                    <i class='fa-solid fa-wrench'></i>
                                </button>
                                <button class='btn btn-danger btn-radius10' type='button' onclick="confirmDelete()">
                                    <i class='fa-solid fa-trash-can'></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- Add product Button-->
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="team-item addproductthing add-product" data-bs-toggle="modal"
                        data-bs-target="#addProductModal">
                            <div class="overflow-hidden position-relative rounded-3">
                                <img class="img-fluid p-4" src="{% static 'MadeChuu/images/add.png' %}">
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">Add Products </h5>
                                <h4 class="mb-0">Here </h4>
                                
                                <br><br>
                            </div>
                        </div>
                </div>

            <!-- Edit Product Modal -->
            <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductModalLabel">แก้ไขสินค้า</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form for Editing Product -->
                            <form>
                                <div class="mb-3">
                                    <label for="editProductName" class="form-label">ชื่อสินค้า</label>
                                    <input type="text" class="form-control" id="editProductName" placeholder="กรอกชื่อสินค้า" value="FLODUCKY">
                                </div>
                                <div class="mb-3">
                                    <label for="category">ประเภทสินค้า</label>
                                    <select class="form-select" name="category" id="category"required>
                                        <option value="Ceramic">Accessorie</option>
                                        <option value="Digital" selected>Flower</option>
                                        <option value="Canvas">Keychain</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="editProductPrice" class="form-label">ราคา</label>
                                    <input type="number" class="form-control" id="editProductPrice" placeholder="กรอกราคา" value="299">
                                </div>
                                <div class="mb-3">
                                    <label for="editQuantity" class="form-label">จำนวนคงเหลือ</label>
                                    <input type="number" class="form-control" id="editProductPrice" placeholder="กรอกราคา" value="15">
                                </div>
                                <div class="mb-3">
                                    <label for="editProductImage" class="form-label">เปลี่ยนรูปภาพ</label>
                                    <input type="file" class="form-control" id="editProductImage">
                                </div>
                                <div class="mb-3">
                                    <img class="img-thumbnail" src="img/flower/page-2/product-8.png" >
                                </div>
                                <button type="submit" class="btn btn-primary " Style = "width: 100%;">บันทึกการเปลี่ยนแปลง</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addProductModalLabel">เพิ่มสินค้าใหม่</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form for Adding Product -->
                            <form>
                                <div class="mb-3">
                                    <label for="productname">ชื่อสินค้า</label>
                                    <input type="text" class="form-control" id="productName"
                                        placeholder="กรอกชื่อสินค้า">
                                </div>
                                <div class="mb-3">
                                    <label for="category">ประเภทสินค้า</label>
                                    <select class="form-select" name="category" id="category"required>
                                        <option value="Ceramic">Accessorie</option>
                                        <option value="Digital">Flower</option>
                                        <option value="Canvas">Keychain</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="productPrice">ราคาสินค้า</label>
                                    <input type="number" class="form-control" id="productPrice"
                                        placeholder="กรอกราคา">
                                </div>
                                <div class="mb-3">
                                    <label for="Quantity">จำนวนสินค้า</label>
                                    <input type="number" class="form-control" id="productStock"
                                        placeholder="กรอกจำนวนสินค้า">
                                </div>
                                <div class="mb-3">
                                    <label for="productImage" class="form-label">อัพโหลดรูปภาพ Products</label>
                                    <input type="file" class="form-control" id="productImage">
                                </div>
                                <button type="submit" class="btn btn-primary" style="width: 100%;">เพิ่มสินค้า</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}