{% extends 'accounts/base.html' %}

{% load form_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase text-center">Register</h2>
                <p class="text-white-50 mb-5 text-center">Please fill in the form to create an account!</p>
  
                <form method="post">
                  {% csrf_token %}
                  
                  <h5 class="text-uppercase text-white-50 mb-3">Login Information</h5>
                  <div class="form-outline form-white mb-4">
                    {{ form.email.label_tag }}
                    {{ form.email|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.user_name.label_tag }}
                    {{ form.user_name|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.password1.label_tag }}
                    {{ form.password1|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.password2.label_tag }}
                    {{ form.password2|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>

                  <h5 class="text-uppercase text-white-50 mb-3">Personal Information</h5>
                  <div class="form-outline form-white mb-4">
                    {{ form.address.label_tag }}
                    {{ form.address|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.district.label_tag }}
                    {{ form.district|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.province.label_tag }}
                    {{ form.province|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.postal_code.label_tag }}
                    {{ form.postal_code|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.gender.label_tag }}
                    {{ form.gender|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.birth_date.label_tag }}
                    {{ form.birth_date|add_class:"form-control form-control-lg text-dark bg-light" }}
                </div>
                  <div class="form-outline form-white mb-4">
                    {{ form.phone_num.label_tag }}
                    {{ form.phone_num|add_class:"form-control form-control-lg text-dark bg-light" }}
                  </div>
                  
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                </form>
  
              </div>
  
              <div class="text-center">
                <p class="mb-0">Already have an account? <a href="{% url 'accounts:login' %}" class="text-white-50 fw-bold">Login</a></p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}